<div class="container-fluid">
<!--  searchbar and toggle btn-->
  <div class="row" id="belowContent">
    <div class="col-md-3">
      <div class="d-flex justify-content-start">
        <img id="youtubeLogo" src="assets/logo/youtube-logo.png" [routerLink]="['/']">
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-center mt-4" id="searchBar">
        <div class="input-group">
          <div class="input-group-prepend">
          <span class="input-group-text"
                style="background: #FFF; border-top-right-radius: 0; border-bottom-right-radius: 0;">
            <i class="fa fa-search pt-1 pb-1"></i>
          </span>
          </div>
          <input type="text" class="form-control border-left-0 border-right-0"
                 placeholder="Search By Name/ Mobile Number"
                 aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="searchQuery" (keyup.enter)="onClickSearch()">
          <button class="btn btn-secondary border-0" type="button" (click)="onClickSearch()"><i
            class="fa fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-flex justify-content-end mt-3">
        <mat-slide-toggle id="toggleBtn" [(ngModel)]="toggleBtn" (click)="onChangeToggle()"><p class="pt-3 {{darkModeTextClass}}">{{darkModeText}}</p></mat-slide-toggle>
      </div>
    </div>
  </div>

  <div class="row pt-5" style="margin-top: -50px;">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <div class="d-flex justify-content-center">
        <video controls autoplay style="width: 100%; padding-top: 60px;" *ngIf="showVideo">
          <source src="{{videoUrl}}" type="video/mp4">
        </video>
      </div>
      <div class="container-fluid" *ngIf="showVideo">
        <div class="d-flex justify-content-between">
        <h2 class="whiteText videoDescription" [style.color]="textColor">{{videoTitle}}</h2>
        <mat-icon [style.color]="favouriteIconColor" class="mt-1" (click)="changeColor()">favorite</mat-icon>
        </div>
      </div>

<!--      other info-->
      <div class="card" id="otherInfoBox" *ngIf="showVideo">
        <div class="card-body">
          <p class="videoDescription"><strong>Description:</strong> {{videoDescription}}</p>
          <p id="views">{{views}} views</p>
          <p id="subscribers">{{subscriber}}</p>
        </div>
      </div>

      <!--  videos-->
      <div class="row">
        <h3 id="suggestedVideosText" [style.color]="textColor">Searched Videos</h3>
        <div *ngFor="let video of searchedVideos" class="col-md-4 p-3">
          <div class="card" (click)="getVideoURL(video)">
            <img class="card-img-top" src="{{video?.thumbnailUrl}}" alt="" style="width: 100%; height: 150px;">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h5 class="card-title"><strong>{{resizeTitleOfSearchedVideos(video?.title)}}</strong> <br>{{video?.author}} </h5>
                <img *ngIf="video?.isLive" src="assets/logo/live.png" style="width: 62px; height: 16px;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-flex justify-content-center">
        <h3 [style.color]="textColor">Suggested Videos</h3>
      </div>

      <div *ngFor="let video of videos" class="col-md-3 p-3" id="suggestedVideos">
        <div class="card" (click)="getVideoURL(video)">
          <img class="card-img-top" src="{{video?.thumbnailUrl}}" alt="" style="">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 class="card-title"><strong>{{resizeTitle(video?.title)}}</strong> <br>{{video?.author}} </h5>
            <img *ngIf="video?.isLive" src="assets/logo/live.png" style="width: 62px; height: 16px;">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
