.whiteText {
  color: #fff;
}

.videoDescription {
  padding-left: 16px;
}

#suggestedVideos {
  width: 100%;
}

h3{
  color: #fff;
}

.card {
  cursor: pointer;
}

#youtubeLogo {
  margin-top: 10px;
  width: 50px;
  cursor: pointer;
}

#otherInfoBox {
  margin-left: 26px;
  margin-right: 25px;
  background: #e9ebec;
}

#views {
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 16px;
}

#subscribers {
  font-weight: normal;
  font-size: 13px;
  margin-left: 16px;
}

.btn-secondary {
  background: #ce0505;
}

@media (max-width: 768px) {
  #youtubeLogo, #toggleBtn {
    display: none;
  }

  #searchBar {
    margin-left: 70px;
    margin-right: 70px;
  }
}

#suggestedVideosText {
  margin-top: 10px;
  margin-left: 5px;
}

mat-icon {
  cursor: pointer;
}
