.card {
  cursor: pointer;
  width: 100%;
}

.btn-secondary {
  background: #ce0505;
}

img{
  height: 200px;
  width: auto;
}

#youtubeLogo {
  margin-top: 10px;
  height: 50px;
}

#belowContent {
  margin-top: -29px;
}

@media (max-width: 768px) {
  #youtubeLogo {
    display: none;
  }
  #belowContent {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  #youtubeLogo, #toggleBtn {
    display: none;
  }

  #searchBar {
    margin-left: 70px;
    margin-right: 70px;
  }
}
