<div class="container-fluid pt-3" [ngStyle]="{'background-color': darkMode}">
  <div class="d-flex justify-content-start">
    <img id="youtubeLogo" src="assets/logo/youtube-logo.png">
  </div>

  <!--  searchbar-->
  <div class="row" id="belowContent">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="d-flex justify-content-center" id="searchBar">
        <div class="input-group">
          <div class="input-group-prepend">
          <span class="input-group-text"
                style="background: #FFF; border-top-right-radius: 0; border-bottom-right-radius: 0;">
            <i class="fa fa-search pt-1 pb-1"></i>
          </span>
          </div>
          <input type="text" class="form-control border-left-0 border-right-0"
                 placeholder="Search By Name/ Mobile Number"
                 aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="searchQuery" (keyup.enter)="onClickSearch()">
          <button class="btn btn-secondary border-0" type="button" (click)="onClickSearch()"><i
            class="fa fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-flex justify-content-end">
      <mat-slide-toggle id="toggleBtn" [(ngModel)]="toggleBtn" (click)="onChangeToggle()"><p class="pt-3 {{darkModeTextClass}}">{{darkModeText}}</p></mat-slide-toggle>
      </div>
    </div>
  </div>


  <!--  videos-->
  <div class="row">
    <div *ngFor="let video of videos" class="col-md-3 p-3">
      <div class="card" (click)="getVideoURL(video)">
        <img class="card-img-top" src="{{video?.thumbnailUrl}}" alt="" style="">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title"><strong>{{resizeTitle(video?.title)}}</strong> <br>{{video?.author}} </h5>
            <img *ngIf="video?.isLive" src="assets/logo/live.png" style="width: 62px; height: 16px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
